<footer class="siteFooter">
  <div class="siteFooterRow">
    <span>© {{ page.date | year }} {{ site.title }}</span>
    <span>Cuireadh an teicneolaíocht aitheanta cainte ar fáil de bharr <a href="https://abair.ie">ABAIR</a>, Coláiste na Tríonóide</span>
    <span>Teagmháil: <a href="mailto:eascairtollscoilnagaillimhe@outlook.com">eascairtollscoilnagaillimhe@outlook.com</a></span>
  </div>
</footer>

