<header class="siteHeader">
  <div class="brand">
    <a href="{{ '/' | url(site.pathPrefix) }}">
      <div class="brandTitle">{{ site.title }}</div>
    </a>
    <div class="brandTagline">Iris nua Ollscoil na Gaillimhe</div>
  </div>
  <div class="siteHeaderRight">
    {% if page.url != "/" %}
      <a class="homeBtn" href="{{ '/' | url(site.pathPrefix) }}">Baile</a>
    {% endif %}
    <a class="homeBtn" href="{{ '/fuinn/' | url(site.pathPrefix) }}">Fúinn</a>
  </div>
</header>

